<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @mail_context.email %>
</p>

<p>
  <strong>Message body:</strong>
  <%= @mail_context.message_body %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @mail_context.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @mail_context.ends_at %>
</p>

<p>
  <strong>Time part:</strong>
  <%= @mail_context.time_part %>
</p>

<p>
  <strong>User:</strong>
  <%= @mail_context.user_id %>
</p>

<%= link_to 'Edit', edit_mail_context_path(@mail_context) %> |
<%= link_to 'Back', mail_contexts_path %>
